@import "reset.css";

:root {
    --app-header-height: 56px;
    --app-footer-height: 112px;
    --app-padding-width: 40px;
    --app-blue:#0417f1;
}
main {
    display: flex;
    height: 100vh;
    background-color: #000;
}
.main-container {
    width:100%;
    height:100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.main-container div {
    display: flex;
    flex-direction: column;
}
.main-container div > div {
    margin-top: 10px;
}
.guess{
    font-size:26px;
    color:#fff;
    text-align:center;
}
.sys-number {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:86px;
    width: 300px;
    height: 300px;
    background-color: #303030;
    border-radius: 50%;
    color: var(--app-blue);
}
.msg-cls {
    width:300px;
    height:60px;
    font-size: 18px;
   text-align:center;
    border-radius: 4px;
    color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
}
.input-cls {
    text-align:center;
    width: 300px;
    height: 50px;
    border-radius: 4px;
}
.input-darkmode {
    background-color: #303030;
    border: solid 1px rgba(255, 255, 255, 0.5);
    color: #fff;
}
.btn-compute {
    position:absolute;
    right:10px;
    top:10px;
    width: 120px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    background-color: var(--app-blue);
    border-radius: 4px;
    margin-left:10px;
    animation: banner-content 0.5s ease-in-out;
    animation-duration: 3s;
    transition: all 0.25s ease-in-out;
}

.btn-compute:hover {
        background-color: #0f97fb;
}
